<div class="filter-container padding-bottom">
    <input class="filter angular-material-input" 
    placeholder="Letters" 
    [value]="filter || ''" 
    [type]="'text'"
    (input)="handleFilterInput($event)" [autocomplete]="'no'">

    <div class="clear-button" (click)="clear()">
        Clear
    </div>
</div>


<ng-container *ngFor="let len of lengths">
    <div *ngIf="_sortedFilteredWords[len] && _sortedFilteredWords[len].length" class="padding-bottom">
        <div class="number-of-letters">{{ len }} Letters:</div>
    
        <div class="padding-bottom letter-inputs">
            <input *ngFor="let filterIndex of filterIndexes[len]; let i = index" class="letter-input angular-material-input" 
            placeholder="_" 
            [value]="filterValues[len][i] || ''" 
            [type]="'text'"
            [attr.maxLength]="2" 
            (input)="handleInput(len, i, $event)" [autocomplete]="'no'">
            <!-- (input)="handleInput($event)" (focus)="_handleFocus()" (blur)="_handleBlur()" [autocomplete]="disableAutocomplete ? 'no' : (autocomplete || '')"> -->
        </div>
        <div *ngFor="let word of sortedFilteredWords[len]">
            {{ word }}
        </div>
    </div>    
</ng-container>
